*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/poetry.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/python-project-50.iml
/.idea/vcs.xml
/.idea
/.idea/inspectionProfiles
/.env