{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans 'Tasks' %}
{% endblock %}

{% block content %}
<div>
    <h1>{% trans 'Tasks' %}</h1>
    <form action="{% url 'task_create' %}" method="get">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Create Task' %}">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Author' %}</th>
                <th scope="col">{% trans 'Executor' %}</th>
                <th scope="col">{% trans 'Creation Date' %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'task_update' task.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'task_delete' taskfrom django.test import TestCase, Client
from task_manager.statuses.models import Status
from task_manager.users.models import User

class StatusTestCase(TestCase):
    fixtures = ['test_users.json', 'test_statuses.json']
    def setUp(self):
        self.client = Client()
        self.status1 = Status.objects.get(name='status1')
        self.status2 = Status.objects.get(name='status2')
        self.user1 = User.objects.get(username='Luke19')
        self.user2 = User.objects.get(username='SpaceBuns').id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}